/* body * {
   border: 1px solid red;
} */

body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Typography */

h1 {
  color: whitesmoke;
  font-size: 36px;
  margin-bottom: 0;
}

h2 {
  /* font-size: 24px; */
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
  margin-top: 0;
}

/* links */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover:active {
  color: #d4b44c;
}

/* layout */

header {
  background-color: #5f29a3;
  padding: 45px 0;
}

section {
  padding: 45px 0;
}

.section-two {
  color: whitesmoke;
  background-color: #5f29a3;
}

.section-two__img-container {
  display: flex;
  justify-content: space-between;
}

.section-two__img {
  width: 300px;
  border-radius: 4.6px;
}

.container {
  width: 620px;
  margin: 0px auto;
  /* border: 1px solid red; */
}

.main-img {
  width: 100%;
}

footer {
  padding: 45px 0;
  text-align: center;
  color: #5f29a3;
}
/* 
Challenge:
1. Center the footer's text horizontally.
2. Give the text space top and bottom.
   ⚠️ Don't add margin! Look at sections
   and header for inspiration. 
3. Give the text the correct color.
*/