body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* body * {
   border: 1px solid red;
} */

header {
  background-color: #5f29a3;
  padding: 45px 0;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
  margin-bottom: 0;
}

h2 {
  /* font-size: 24px; */
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
  margin-top: 0;
}

/* p {
   font-size: 16px;
} */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover:active {
  color: #d4b44c;
}

/* 
Challenge:
1. In index.html, wrap the contents of the
   header and sections in container divs.
2. Create a selector and add the properties 
   needed to fix the content width and align
   it to the center.
⚠️ The background colors must stay full 
   width!
*/

.container {
  width: 620px;
  margin: 0px auto;
  /* border: 1px solid red; */
}

section {
  padding: 45px 0;
}

.main-img {
  width: 100%;
}