/* body * {
   border: 1px solid red;
} */

body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Typography */

h1,
h3 {
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  /* font-size: 24px; */
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

p {
  line-height: 23px;
}

/* links */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover:active {
  color: #d4b44c;
}

.btn {
  display: inline-block;
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
}

.btn:hover, .btn:hover {
  background-color: #f3e885;
  color: #2b283a;
}

.btn__dark {
  background-color: #5f29a3;
  color:whitesmoke;
}

.btn__light {
  background-color:#f0e0ff;
  color: #5f29a3;
}

.btn__white {
  background-color:whitesmoke;
  color: #5f29a3;
}

/* 
Challenge:
1. Style the 4 button-style links as per 
   the specifications on the slide.
2. Remember to group the selectors
   where possible to keep the CSS DRY.
⚠️ Think: what would make good class
   names for these links? 
*/



/* layout */

header,
section,
footer {
  padding: 45px 0;
}

header,
.section-two {
  background-color: #5f29a3;
}

.section-two {
  color: whitesmoke;
}

.section-two__img-container {
  display: flex;
  justify-content: space-between;
}

.section-two__img {
  width: 300px;
  border-radius: 4.6px;
}

.container {
  width: 620px;
  margin: 0px auto;
}

.main-img {
  width: 100%;
}

footer {
  text-align: center;
  color: #5f29a3;
}

/* 
Challenge:
1. Refactor the CSS to make it DRYer
   by grouping selectors together where
   possible.
*/
